@model IEnumerable<Lawyers.BLL.Core.DtoCasosBase>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaCaso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAbogado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoCaso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoCaso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreAbogado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoCaso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCaso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCaso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAbogado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoCaso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoCaso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreAbogado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoCaso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCaso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
